/*---------------------------------------------------------------------------------------------------------------------- 
 ボタンのスタイル
 ---------------------------------------------------------------------------------------------------------------------*/
.unity-button {
    visibility: visible;
    white-space: nowrap;
    -unity-text-align: middle-left;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);

    background-color: rgb(62, 62, 62);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: rgb(48, 48, 48);
    border-radius: 0;

    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}

.unity-button:hover {
    background-color: rgba(48, 48, 48, 1);
}

.unity-button.active {
    background-color: rgba(44, 93, 135, 1);
}

.unity-button.active:hover {
}