.row {
    flex-direction: row;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
}
.row_center {
    margin-top: 20px;
    flex-direction: row;
    align-self: center;
}
.row_reverse_element {
    width: 75px;
}
.class_base{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.class_description {
    margin-bottom: 20px;
}