.battle_scene_list_area {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.toggle_foldout{
    width: 25px;
    align-items: flex-start;
}

.margin_less {
    width: auto;
    min-width: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}
