.row {
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row_reverse {
    flex-direction: row-reverse;
}
.row_reverse_element {
    width: 75px;
}
.class_price{
    width: 60px;
}
.class_button{
    justify-content: center;
    width: 65px;
    height: 80px;
    background-color: gray;
}
.class_image {
    align-self: center;
    width: 66px !important;
    height: 76px !important;
    background-color: gray;
}