.row {
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row_element {
    flex-direction: row;
}
.row_reverse {
    flex-direction: row-reverse;
}
.row_reverse_element {
    width: 75px;
}
.class_map_list{
    width: 200px;
}
.class_direction_list{
    width: 150px;
}
